@import "custom";
@import "~bootstrap/scss/bootstrap";
body {
    background-image: url('../img/fundo.jpg');
}
.palpite-menino {
    background: $blue;
    color: $white;
}
.palpite-menina {
    background: $pink;
    color: $white;
}
.animation-add-card-enter {
    opacity: 0.01;
}

.animation-add-card-enter.animation-add-card-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.animation-add-card-leave {
    opacity: 1;
}

.animation-add-card-leave.animation-add-card-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}
.jumbotron {
    //background: $gray-100;
    background: #FFFFFF99;
    border: 1px solid $gray-500;
    margin-top: 20px;
}
.card-empty {
    background: #FFFFFF99;
    border: 1px solid $gray-500;
}
.card-palpite .emoji {
    width: 32px;
}
.jumbo-resultado-menino {
    color: $blue;
}
.jumbo-resultado-menina {
    color: $pink;
}
